* {
    box-sizing: border-box;
  }

body {
    margin: 0;
    padding: 0;
    background-color: white;
}

.container {
    margin: 1rem;
    text-align: center;
}
footer{
    background-color: black;
    left:0;
    bottom:0;
    right:0;
    position:fixed;
}
.site-title {
    font-size: 2rem;
}